<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    {% block head %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Divisor - {% block title %}{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">

    {% block body %}

    <header>
        {% include "layouts/navbar.html" %}
    </header>

    <main class="flex-shrink-0">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <a href="https://github.com/brio50/divisor"><i class="fa-brands fa-github" style="color:#fff"></i></a>
        </div>
    </footer>

    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>

</body>
</html>